.tab-content > .active {
  display: block;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  height: 600px;
  padding: 20px;
}

.sidebar {
  display: block;
}

.main-products {
  display: block;
}
